@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

p {
  font-family: "Raleway", sans-serif !important;
  font-size: 1.2rem;
}

a {
  color: #1c1c1c;
}

a:hover {
  color: #00b285;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  border-bottom: #00b285 3px solid;
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  color: #ffffff;
}

.navbar-toggler {
  border: none;
  font-size: 32px;
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.react-transition {
  margin-top: 59px;
}

/* HOME */

.wrapper {
  background: rgb(0, 178, 133);
  background: radial-gradient(
    circle,
    rgba(0, 178, 133, 1) 0%,
    rgba(0, 94, 71, 1) 50%,
    rgba(0, 178, 133, 1) 100%
  );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 30s ease infinite;
  -moz-animation: gradientBG 30s ease infinite;
  animation: gradientBG 30s ease infinite;
  height: calc(100vh - 63px);
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

/* BREADCRUMS */

.breadcrumbs {
  font-family: "Raleway", sans-serif;
  padding: 1rem 0.5rem;
  display: inline-block;
  color: #1c1c1c;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcrumbs:hover {
  text-decoration: none;
  color: #00b285;
}

.breadcrumbs:after {
  padding-left: 1rem;
  content: "<";
  color: #1c1c1c;
}

.breadcrumbs:after:hover {
  text-decoration: none;
}

.breadcrumbs:last-child:after {
  content: "";
}

/* ANIMATION */

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ANIMATION END */

.header h2 {
  color: #fff;
}

.header h3 {
  font-weight: 300;
  color: #fff;
}

.profile {
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 150px;
}

.smaller {
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
  border-bottom: #00b285 10px solid;
  border-radius: 10px;
}

/* PROJECTEN */

.item img {
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
  border-bottom: #00b285 5px solid;
}

.item:hover .item-overlay.top {
  top: 0;
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  background: rgba(0, 178, 133, 0.8);
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  width: calc(100% - 30px);
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}

.item-overlay.top {
  top: 100%;
}

.projecten h1 a {
  font-size: 32px;
  padding-right: 15px;
  color: #1c1c1c;
  transition: ease-in-out 0.2s;
}

.projecten h1 a:hover {
  text-decoration: none;
  color: #00b285;
  transition: ease-in-out 0.2s;
}

.imageStyle img {
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
  border-bottom: #00b285 10px solid;
}

/* ABOUT */

.progress {
  height: 2rem;
  margin-bottom: 15px;
}

.progress-bar {
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  background-color: #00b285;
}

.zoomer {
  cursor: zoom-in;
  display: block;
  max-width: 100%;
  margin: auto;
  z-index: 9000;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
  border-bottom: #00b285 10px solid;
}

.zoomer.zoomed {
  cursor: zoom-out;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  transform: translateZ(0);
  z-index: 9000;
}

.development {
  background-color: #00b285;
  border-bottom: 5px rgba(28, 28, 28, 0.4) solid;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
}

.design {
  background-color: #007bff;
  border-bottom: 5px rgba(28, 28, 28, 0.4) solid;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
}

.marketing {
  background-color: #ffc107 !important;
  border-bottom: 5px rgba(28, 28, 28, 0.4) solid;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
}

.talen {
  background-color: #dc3545;
  border-bottom: 5px rgba(28, 28, 28, 0.4) solid;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.2);
}

/* Footer */

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.footer {
  color: #fff;
  font-family: "Raleway", sans-serif !important;
}

.footerWrapper {
  border-top: 3px solid #00b285;
  background-color: #1c1c1c;
  flex-shrink: 0;
}

/* CONTACT */

.contactImage {
  width: 100%;
}

.greyContainer {
  background-color: #f9f9f9;
}

.contactDetails {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
